@page
@model ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<form method ="get">
    <div class="form-group">
        <input type="search" class="form-control" value="" name="searchTerm" />
        <span class="input-group-btn">
            <button class="btn btn-dark">Search</button>
        </span>

    </div>
</form>
<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.CuisineType</td>
            <td>
                <a asp-page="./Detail" asp-route-id="@restaurant.Id">
                    <i class="btn-dark">
                        <button class="btn-dark">Details</button>
                    </i>
                </a>
                <a asp-page="./Edit" asp-route-id="@restaurant.Id">
                    <i class="btn-dark">
                        <button class="btn-dark">Edit</button>
                    </i>
                </a>
            </td>
        </tr>
    }
</table>
<a asp-page="./Edit" class="btn btn-primary">Add New</a>
<h2>Restaurants</h2>